/* src/css/components/autoplay-accordion.css */

.accordion-item {
  &__learn-more {
    display: block;
    padding-top: 1px;
    text-decoration: underline;
  }

  &__desc {
    font-family: var(--font-text);
    line-height: 1.5;
    letter-spacing: -0.01em;
    padding-bottom: 15px;

  }

  &__list {
    max-width: 456px;
  }
}

.autoplay-accordion {
  .accordion-item__title {
    margin-right: auto;
    margin-bottom: 20px;
    padding-bottom: 0;
    font-family: var(--font-text);
    font-size: 18px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
      font-size: 22px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 24px;
    }
  }

  .accordion-item__desc {
    padding-bottom: 0;

    a {
      text-decoration: underline;
    }
  }

  &__state {
    position: absolute;
    top: 0;
    left: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease;
    
    &-icon,
    &-icon::before,
    &-icon::after {
      transition: border 0.4s ease, height 0.4s ease;
    }

    &-icon {
      position: absolute;
      border: 1px solid var(--color-gray-3);
      border-radius: 3px;
      left: -34px;
      top: 6px;
      min-width: 17px;
      min-height: 17px;
      cursor: pointer;
      transition: opacity 0.3s ease, border 0.3s ease;
      

      &::before, &::after {
        content: '';
        position: absolute;
        background: var(--bg-gray-3);
        left: 4px;
        top: 7px;
        width: 7px;
        height: 1px;
        transform: rotate(0deg);
        cursor: pointer;
        transition: background 0.4s ease;
      }

      &::after {
        top: 4px;
        left: 7px;
        height: 7px;
        width: 1px;
      }
    }
  }

  .accordion-item {
    position: relative;
    margin-bottom: 16px;
    padding-left: 30px;
    opacity: 0.75;
    transition: opacity 0.4s ease;

    @media screen and (min-width: 768px) {
      margin-bottom: 18px;
      padding-left: 32px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 20px;
      padding-left: 36px;
    }

    &.is-active,
    &:hover {
      opacity: 1;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .progress-bar {
    height: 100%;
    background: var(--bg-gray-3);
    overflow: hidden;
    margin-bottom: 20px;
    width: 2px;
    opacity: 1;
    transition: opacity 0.5s ease;

    &__status {
      height: 100%;
      width: 100%;
      background: var(--bg-red);
      will-change: transform;
      transition: transform 0s linear 0.4s;
      transform: translateY(-100%);
    }
  }

  .is-active &__state {
    opacity: 1;
    
    &-icon {
      opacity: 1;
    }
  }

  .accordion-item__title:hover &__state-icon {
    border: 1px solid var(--color-gray-3);
  }

  .accordion-item__title:hover &__state-icon::before,
  .accordion-item__title:hover &__state-icon::after {
    background: var(--bg-gray-4);
  }

  .is-active .progress-bar__status {
    transition-duration: 8s;
    transition-delay: 0s;
    transform: translateY(0%);
  }

  .is-active .progress-bar__status {
    transform: translateY(0%);
  }

  .is-paused.is-active .progress-bar__status,
  .is-paused .progress-bar__status {
    transition-duration: 0s;
  }
}