{% set content = block.ProjectSectionContentImage.one() %}

{% if content %}
  {% set ltr = content['contentLeft'] ?? null %}
  {% set copy = content['copy'] ?? null %}
  {% set largeText = content['largeText'] ?? null %}
  {% set image = content['image'] ?? null %}

  <section class="contain-x-1 my-32">
    {% include "_includes/components/sections/project-sections/_header" with {
      text: block.projectSectionHeader ?? null
    } %}

    <div class="o-grid">
      <div data-trigger="Animate"
          data-animate="inRight"
          data-duration="2"
          class="js-module {{ltr ? 'md:pr-30' : 'order-2 md:pl-30'}} col-span-6 sm:col-span-5 md:col-span-4">
        {% if copy %}
          {% include "_includes/components/sections/project-sections/_description" with {
            text: copy,
            margin: false
          } %}
        {% endif %}

        {% if largeText %}
          <div class="mt-32 md:mt-64 text-style-d5">
            {{ largeText|nl2br }}
          </div>
        {% endif %}
      </div>

      <div data-trigger="Animate"
          data-animate="inLeft"
          data-duration="2"
          class="js-module col-span-8 md:mt-0 mt-16">
        {% if image %}
          {% include "_partials/image" with {
            image: image.one(),
            loader: true,
            classes: {
              img: 'w-full',
              picture: 'relative bg-black block text-white',
            },
            sizes: {
              xxs: '500x',
              xs: '640x',
              sm: '768x',
              md: '710x',
              lg: '710x',
              xl: '917x'
            }
          } %}
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}