@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 18 24 28;
    --color-primary-dark: 12 18 22;
    --color-primary-medium: 24 35 42;
    --color-primary-light: 34 48 58;
    --color-purple: 143 1 155;
    --color-yellow: 255 245 0;
    --color-green: 0 127 135;
    --color-blue: 0 101 144;
    --color-white: 255 255 255;
  }
}

:root {
  --contain: 0.5rem;

  @media screen and (min-width: 1200px) {
    --contain: 1rem;
  }
}

.text-display {
  font-size: 54px;
  font-style: normal;
  line-height: 95%;
  letter-spacing: 2.7px;
}